{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul class="navigate">
            <li><a href="/">Shop</a></li>
            <li><a href="#">History</a></li>
            <li><a href="/coupons">Coupons</a></li>
        </ul>
    </nav>

    <main class="main">
        <div class="main_content">
            <div class="shop_list">
                <p>Name:</p>
                <input type="text">

                <p>Email:</p>
                <input type="email">

                <p>Phone:</p>
                <input type="number">

                <p>Address:</p>
                <input type="text">
            </div>
            <div class="shop_items">
                {% for item in basket %}
                <div class="card_container">
                    <div class="cards">
                        <div class="cards_border">
                            <a href="delete_item/{{item.id}}">
                                <button class="button_style">Delete</button>
                            </a>
                            <img src="\media/{{item.img}}">
                            <div class="cord_content">
                                <p> {{item.order_name}} </p>
                                <p> Price: <span class='price'>{{item.price}}</span></p>
                                <input type="number" class="card_number" value="1">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="content">
            <input type="text" class="coupons" placeholder="Discount Coupon">
            <p>Total price: <span class='total'></span> </p>

            <a href="delete_items_all/"><button onclick="alert_redirect(this)" type="submit">Submit</button></a>
        </div>
    </main>

    <script>
        var prices = document.getElementsByClassName('price');
        var totalElement = document.querySelector('.total');
        var couponElement = document.querySelector('.coupons');
        var cardNumberInputs = document.querySelectorAll('.card_number');

        function updateTotal() {
            var total = 0;
            for (var i = 0; i < prices.length; i++) {
                total += parseInt(prices[i].textContent);
            }

            for (var i = 0; i < prices.length; i++) {
                var price = parseFloat(prices[i].textContent);
                var quantity = parseInt(cardNumberInputs[i].value);
                total += price * (quantity - 1);
            }

            if (couponElement.value === 'discount') {
                total *= 0.95;
            }

            if (couponElement.value === 'turbo') {
                total *= 0.9;
            }

            if (couponElement.value === 'max') {
                total *= 0.8;
            }

            total = total.toFixed(2);
            totalElement.textContent = total;
        }

        // function removeCard(button) {
        //     var cardContainer = button.closest('.cards_border');
        //     cardContainer.remove();
        //     updateTotal();
        // }

        for (var i = 0; i < cardNumberInputs.length; i++) {
            cardNumberInputs[i].addEventListener('input', updateTotal);
        }

        couponElement.addEventListener('input', updateTotal);

        updateTotal();

        function alert_redirect(button) {
            alert('Thanks !');
        }

    </script>
</body>

</html>